<!DOCTYPE html>
<html>
<head>
<title>Contacts</title>
</head>
<body>
<div id="container"></div>


<script src="/js//contacts/react-15.0.0.js"></script>
<script src="/js/contacts/react-dom-15.0.0.js"></script>
<script src="/js/contacts/browser.min.js"></script>


<script type="text/babel" src="/js/contacts/contacts.jsx"></script>

<style>
.contacts{
	border: 1px;
}



</body>
</html>