
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sean Dekkers</title>
  </head>
  <body>

      <font size ="5" face ="helvetica"><b>Sean Dekkers</b></font>
      <p>
      <font size ="2" face ="helvetica">Hello There. My name is Sean and I'm a media agnostic designer at <a href="www.ideo.com" target="_blank">IDEO</a>. I come from a previous carreer in Visual Effects for feature films, advertising, and 3D for web. I'm taking this class to learn in-browser VR (three.js), Data Visualization (D3.js) and app development.</font>
      <p>
      <font size ="2" face ="helvetica">More of my work can be seen at <a href="http://www.seandekkers.com" target="_blank">seandekkers.com</a> <i>password:myra</i>
      </font>
      <ul>
        <li>Twitter</li>
        <li><a href="https://www.facebook.com/sdekkers" target="_blank">Facebook</a></li>
        <li><a href="https://www.linkedin.com/in/sean-dekkers-a450815" target="_blank">LinkedIn</a></li>
      </ul>

      <h2>Homework</h2>
      <ol>
        <li><a href="homework/formulas/formulas.html">Formulas</a></li>
        <li><a href="homework/madlibs/madlibs.html">Mad Libs</a></li>
        <li><a href="homework/converting-json/converting-json.html">Converting JSON</a></li>
        <li><a href="homework/99bottles.html">99 Bottles</a></li>
        <li><a href="homework/traffic-light/traffic-light.html">Traffic Light</a></li>
        <li><a href="homework/movie-search/movie-search.html">Movie Search</a></li>
        <li><a href="homework/feedr/feedr.html">Feedr</a></li>
      </ol>
      <script src = "script.js"></script>
    </body>
  </html>